<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Java-Rest Assured-TestNG-Maven" parallel="false" verbose="1">
    <listeners>
        <listener class-name="listeners.Listener"/>
        <listener class-name="listeners.TestRetryAnalyzerListener" />
    </listeners>
    <test name="JRTM Tests" junit="false">
        <classes>
            <class name="postsTest" />
            <class name="mediaTest" />
            <class name="categoriesTest"/>
            <class name="tagTest"/>
        </classes>
    </test>
</suite>